notes.txt
topics.txt
styles/scss/.DS_Store
.sass-cache/*
styles/css/app.min.css
packages.config
styles/scss/_variables.min.css
html/lcc
html/lcc/*
html/docs/banner.html
html/docs/components.html
html/docs/grid.html
html/docs/lcc.html
html/docs/lrl.html
html/docs/test.html
html/docs/combinedcalendar.html
html/docs/ola.html
html/house
html/senate
html/joint
html/index.html
html/index - 4 col centered footer.html
html/leg-cal-card.html