@if $enable-print-styles {
  @media print {
  	/* align headers and footers with page */
	@page {
	    margin: 0.75in 0;
	}

	/* Avoid page breaks on elements */
	.card {
	    page-break-inside: avoid;
	} 

	/* Put this class in the ROW that needs to be full page width on print*/
	.leg-row-print-full {
	    display: block !important;
	}
	/* Put this class in the COL that needs to be full page width on print*/
	/* In the col that needs to be hidden, add d-print-none*/
	.leg-col-print-12 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.container {
	    width: 95%;
	    max-width: 95%;
	    font-size: 12pt !important;
	    color: black !important;
	}

	.tooltip{
		display:none;
	}

	a{
		&.leg-title-text{
			text-decoration: none;
		}		
		&.leg-title-text-2-lines{
			text-decoration: none;
		}
		&.leg-subtitle-text{
			text-decoration: none;
		}
	}
  }
}