//create .navbar-lnet (copied from _navbar.scss). text color control. actual colors defined in _variables
.navbar-joint {
  .navbar-brand {
    color: $navbar-joint-active-color;

    @include hover-focus {
      color: $navbar-joint-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-joint-color;

      @include hover-focus {
        color: $navbar-joint-hover-color;
      }

      &.disabled {
        color: $navbar-joint-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-joint-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-joint-color;
    border-color: $navbar-joint-toggler-border-color;
    font-size: 1rem;
    padding: 0.1rem 0.25rem;

  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-joint-color;
    a {
      color: $navbar-joint-active-color;

      @include hover-focus {
        color: $navbar-joint-active-color;
      }
    }
  }
}



.navbar-senate {
  .navbar-brand {
    color: $navbar-senate-active-color;

    @include hover-focus {
      color: $navbar-senate-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-senate-color;

      @include hover-focus {
        color: $navbar-senate-hover-color;
      }

      &.disabled {
        color: $navbar-senate-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-senate-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-senate-color;
    border-color: $navbar-senate-toggler-border-color;
    font-size: 1rem;
    padding: 0.1rem 0.25rem;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-senate-color;
    a {
      color: $navbar-senate-active-color;

      @include hover-focus {
        color: $navbar-senate-active-color;
      }
    }
  }
}

//house
.navbar-house {
  .navbar-brand {
    color: $navbar-house-active-color;

    @include hover-focus {
      color: $navbar-house-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-house-color;

      @include hover-focus {
        color: $navbar-house-hover-color;
      }

      &.disabled {
        color: $navbar-house-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-house-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-house-color;
    border-color: $navbar-house-toggler-border-color;
    font-size: 1rem;
    padding: 0.1rem 0.25rem;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-house-color;
    a {
      color: $navbar-house-active-color;

      @include hover-focus {
        color: $navbar-house-active-color;
      }
    }
  }
}

.navbar-senate,
.navbar-joint,
.navbar-house{
    padding: .3rem 1rem;
}

//this is what makes Sass awesome
// this example uses 3 Sass features:
// 1. theming elements based on parent using &
// 2. variables ($joint, $house, $senate)
// 3. mixins: lighten 10%
// another cool case of SASS in _lnet-datepicker (calendar max-width)
.dropdown-menu.show{
    border-radius: 0;
    padding: 0;
    margin: 0.25rem 0;
    font-size: 0.9rem;
    .navbar-senate &{
        background-color: lighten($senate, 10%);
    }
    .navbar-joint &{
        background-color: lighten($joint, 5%);
    }

    .navbar-house &{
        background-color: lighten($house, 10%);
    }
}

.dropdown-item.disabled,
.dropdown-item.disabled:hover{
    color: #505555;
    .navbar-joint &{
        color:#8f8f8f;
    }
}

.dropdown-item{
    .navbar-joint &{
        color:#cdcdcd;
    }
}

.dropdown-item:hover{
    .navbar-joint &{
        color:#000;
    }
}

  //handy bs-sass mixin
@include media-breakpoint-down(sm) {
  .navbar-nav.flex-row {
    justify-content:center;
    li{
      padding:0 1rem;
    }
  }
}

dd > a{
  color:lighten($link-color, 35%);
}

dd > a:hover{  
  // color:$link-color;
  color: lighten($link-color, 25%);
}

dt {
    font-weight: 400;
}

dd {
    margin-bottom: .2rem;
}

#Billnumber,
#senatebillnumber,
#statutenumber{
    width:115px;
}

a:hover{  

    .navbar-nav li &{
        background-color: transparent;
        text-decoration: underline;
    }
    .nav-header &{
      color: lighten($link-color, 25%);
      text-decoration: underline;
    }
    li &{
        background-color: #dedede;
    }
    p & {
      background-color: #dedede;
    }
}

.nav-header a{
  color:lighten($link-color, 35%);
  font-weight:500;
  text-decoration: none;
  // font-family: georgia, serif;
  text-transform: uppercase;
}


// md is where top navbar collapses
@include media-breakpoint-up(lg) {
  //in the unlikely scenario where search and nav list crunch
  //(a very particluar screen size). 
  //need down-carrots centered
  .bg-dark{
    a.nav-link.dropdown-toggle{
      text-align:center;
    }
  }

  //top navigation absolute positioning
  .navbar-nav-collapse{
    position: absolute;
    width:100%;
    top:3rem;
    left:0
  }
  //need the dropdown content 13rem to avoid gaps
  .collapse {
    &.show {
      & .bg-dark{
        height:14rem;
      }
    }
  }
  //need the dropdown content 13rem during transition to avoid jumps
  .collapsing {
    & .bg-dark{      
      height: 13rem;      
    }
  }

} //end media-breakpoint-up







