html{
    position: relative;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}
body {
    margin-bottom: 187px; //height of footer section
    font-size: 14px;
    overflow-x: hidden;
}

#legContainerMain{
    // padding-top: 3rem;
    // padding-bottom: 3rem;
}

// Request to keep underlines - just can't have them everywhere
a{
    text-decoration: underline;
    .navbar &{
        text-decoration: none;
    }
    .card &{
        text-decoration: none;
    }
    .footer &{
        text-decoration: none;
    }
    dd &{
        text-decoration: none;
    }
    .leg-portal-header &{
        text-decoration: none;
    }
    li &{
        text-decoration: underline;
    }
    .leg-subfooter &{
        color:lighten($link-color, 35%);
        text-decoration: none;
    }
}

a:hover{
    background-color: #dedede;
    .leg-portal-header &{
        text-decoration: underline;
    }
    .footer &{
        text-decoration: underline;
    }
    &.leg-title-text{
        text-decoration: none;
    }
    &.leg-title-text-2-lines{
        text-decoration: none;
    }
    &.leg-subtitle-text{
        text-decoration: none;
    }
    .footer &{
        background-color: transparent;
    }
    dd &{
        background-color: transparent;
    }
    .leg-subfooter &{
        color: lighten($link-color, 25%);
        text-decoration: underline;
        background-color: transparent;
    }
    .lcc-upcoming-meetings &{
        background-color: #dedede;
        text-decoration: underline;
    }
    &.leg-title-text{
        background-color: transparent;
    }
}

[data-toggle='collapse']:hover {cursor:pointer;}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 0.25rem;
}

input + label {margin-bottom: 0;}

.leg-portal-header {
    color: $gray-700;    
    a{
        color: $gray-700;
    }
}

.leg-title-container{
    position:absolute;
    bottom:0;
    width:100%;
    // max-width: 40rem;
    background: rgba(0,0,0, 0.5);
    color: white;
}

.leg-page-content{
    //main container
}

.leg-brand-text{
    font-size:1.1rem;
    text-decoration: none;
    font-family: georgia, serif;
    padding: .2rem 0;
    letter-spacing: .15rem;
}

.leg-title-text {
    font-size: 1.8em;
    text-decoration: none;
    font-family: georgia, serif;
    text-shadow: 1px 1px 1px #000;
    // vertical-align: bottom;
    letter-spacing: .15rem;
}
.leg-title-text-2-lines {
    font-size: 1.65em;
    text-decoration: none;
    font-family: georgia, serif;
    text-shadow: 1px 1px 1px #000;
    padding-bottom:4px;
    letter-spacing: .15rem;
    border-bottom: 1px solid $gray-200; 
}
.leg-subtitle-text {
    font-size: 1.2rem;
    text-decoration: none;
    // text-transform: uppercase;
    font-family: georgia, serif;
    // font-weight: normal;
    // color: #fff;
    text-shadow: 1px 1px 1px #000;
    // vertical-align: bottom;
    letter-spacing: .15rem;
}

.leg-menu-text{font-size:1rem;}

dt {
    font-weight: 500;
}

dd {
    margin-bottom: .2rem;
}

.fa-2x{
    font-size: 1.333333rem !important;
}
