
.container-fluid{
    padding:0;
}

.card{
    z-index: 200;
}
.card-body ul{

    margin-bottom:0;
}
.card-title{
    color:$gray-700;
}
.card-body{
    padding: .25rem;
}

.card-body .form-inline .form-control{
    width:100%;
  //   white-space: nowrap;
  // overflow: hidden;
  //   text-overflow:ellipsis;
}

.card-body li{
    border-bottom:1px solid #ddd;
    padding: .2rem;
}
.card-body li:last-child{
    border-bottom:none;
}

.calendar li{
    // border-bottom:1px solid #ccc;
    padding: .2rem 1rem;
}

.bibliography{
    padding-left: 1.5em;
    text-indent:-1.5em;
}

.table .thead-light th{
    border-color: #a9a9a9;
}

.table-bordered td{
    border: 1px solid #a9a9a9;
}

.breadcrumb {
    background-color: white;
    padding: 0.75rem 0;
}