/************************************************************
*************************Footer******************************
*************************************************************/

//sticky footer section
.leg-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 183px; //height of footer section
}
.footer {
    border-top: 1px solid #737373;
}
.footer .a{
    color:#fff;
}
.title-widget {
line-height: 1;
position: relative;
text-transform: uppercase;
margin-top: 0;
margin-right: 0;
margin-bottom: 8px;
margin-left: 0;
text-align: left;
padding-left: 0;
}

.subtitle-widget{
    color: #898989;
}

.title-widget::before {
}

.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
    padding-left: 10px;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
}

.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
// font-family: 'Fjalla One', sans-serif;
}

.footer {
    li{
        font-size: 0.85rem;
    }
}