.table {
  .thead-lightdark {
    th {      
      background-color: $gray-400;
      border-color: $table-dark-border-color;
      a {
      	color: $dark;
      	text-decoration: none;
      }
      a:hover{
        background-color: transparent;
      }
    }
    th:hover{
    	cursor:pointer;
    }
  }
}

.table-nav{
  a:hover{
    background-color: $attn;
  }
}


caption{
  padding-bottom: 0;
  caption-side:top;
  font-size:1.2rem;
}