.leg-brand-container{
    & form{
      margin-top: -0.08rem;
    }
}
.js-search-btn:hover,
.js-search-label{
  cursor:pointer;
}

.leg-search-form{
  height:1rem;
}

//create .navbar-lnet (copied from _navbar.scss). text color control. actual colors defined in _variables
.navbar-joint {
  .navbar-brand {
    color: $navbar-joint-active-color;

    @include hover-focus {
      color: $navbar-joint-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-joint-color;
      font-size: 0.85rem;
      @include hover-focus {
        color: $navbar-joint-hover-color;
      }

      &.disabled {
        color: $navbar-joint-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-joint-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-joint-color;
    border-color: $navbar-joint-toggler-border-color;
    font-size: 1rem;
    padding: 0.1rem 0.25rem;

  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-joint-color;
    a {
      color: $navbar-joint-active-color;

      @include hover-focus {
        color: $navbar-joint-active-color;
      }
    }
  }
}

.navbar-senate {
  .navbar-brand {
    color: $navbar-senate-active-color;

    @include hover-focus {
      color: $navbar-senate-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-senate-color;
      font-size: 0.85rem;
      @include hover-focus {
        color: $navbar-senate-hover-color;
      }

      &.disabled {
        color: $navbar-senate-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-senate-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-senate-color;
    border-color: $navbar-senate-toggler-border-color;
    font-size: 1rem;
    padding: 0.1rem 0.25rem;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-senate-color;
    a {
      color: $navbar-senate-active-color;

      @include hover-focus {
        color: $navbar-senate-active-color;
      }
    }
  }
}

//house
.navbar-house {
  .navbar-brand {
    color: $navbar-house-active-color;

    @include hover-focus {
      color: $navbar-house-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-house-color;
      font-size: 0.85rem;
      @include hover-focus {
        color: $navbar-house-hover-color;
      }

      &.disabled {
        color: $navbar-house-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-house-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-house-color;
    border-color: $navbar-house-toggler-border-color;
    font-size: 1rem;
    padding: 0.1rem 0.25rem;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-house-color;
    a {
      color: $navbar-house-active-color;

      @include hover-focus {
        color: $navbar-house-active-color;
      }
    }
  }
}

.navbar-senate,
.navbar-joint,
.navbar-house{
    padding: .3rem 1rem;
}

//this is what makes Sass awesome
// this example uses 3 Sass features:
// 1. theming elements based on parent using &
// 2. variables ($joint, $house, $senate)
// 3. mixins: lighten 10%
// another cool case of SASS in _lnet-datepicker (calendar max-width)
.dropdown-menu.show{
    border-radius: 0;
    padding: 0;
    margin: 0.25rem 0;
    font-size: 0.85rem;
    .navbar-senate &{
        background-color: lighten($senate, 7%);
    }
    .navbar-joint &{
        background-color: lighten($joint, 5%);
    }

    .navbar-house &{
        background-color: lighten($house, 7%);
    }
}

.dropdown-item.disabled,
.dropdown-item.disabled:hover{
    .navbar-joint &{
        color:$navbar-joint-disabled-color;
    }
    .navbar-house &{
        color:$navbar-house-disabled-color;
    }
    .navbar-senate &{
        color:$navbar-senate-disabled-color;
    }
}

.dropdown-item{
    padding: 0.1rem 1.5rem 0.25rem 1.5rem;
    &:first-child{
      padding-top:0.25rem;
    }
    &:last-child{
      padding-bottom:0.35rem;
    }
    .navbar-joint &{
        color: $navbar-joint-color;
    }
    .navbar-senate &{
      color: $navbar-senate-color;
    }
    .navbar-house &{
      color: $navbar-house-color;
    }
}

.dropdown-item:hover, .dropdown-item:focus{
    background-color: rgba(255, 255, 255, 0);
    .navbar-joint &{
        color: $navbar-joint-hover-color;
    }
    .navbar-house &{
      color: $navbar-house-hover-color;
    }
    .navbar-senate &{
      color: $navbar-senate-hover-color;
    }
}

// .tooltip-inner{
//   font-size: $font-size-base !important;
//   font-weight:  $font-weight-bold !important;
//   // have to use body class. tooltips, modals, etc, are appended to body;
//   .joint &{
//     color: $joint ;
//   }
//   .senate &{
//     color: $senate ;
//   }
//   .house &{
//     color: $house ;
//   }

// }

//padding for sub-nav
.navbar-joint .nav-link,
.navbar-senate .nav-link,
.navbar-house .nav-link{
  padding: 0.3rem 1rem;
}

dt,dd {
    font-size: 0.85rem;
}

.img-joint{
    height: 12rem;
    background-image: url(../../img/banners/cap_quadrangle.jpg);  //excellent for joint 50% 50%;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: cover;
}

.img-senate{
    height: 12rem;
    background-image: url(../../img/banners/cap_rotundaR.jpg); //good for senate 50% 10%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.img-house{
    height: 12rem;
    background-image: url(../../img/banners/cap_full_quadrangle.jpg);  //excellent for joint 50% 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.js-search {

}

.js-search-btn {
    // width: 200px; //expand on focus
}

#Billnumber,
#senatebillnumber,
#statutenumber{
    width:115px;
}

  //handy bs-sass mixin
@include media-breakpoint-down(sm) {
  .navbar-nav.flex-row {
    justify-content:center;
    li{
      padding:0 1rem;
    }
  }
  .leg-brand-container{

    text-align: center;
}
}

dd > a{
  color:lighten($link-color, 35%);
}

dd > a:hover{  
  // color:$link-color;
  color: lighten($link-color, 25%);
  text-decoration: underline;
}

dt {
    font-weight: 400;
}

dd {
    margin-bottom: .1rem;
}

a:hover{  

    .nav-item &{
      background-color: transparent;
      text-decoration: underline;
      &.btn-outline-darklight{
          background-color: $gray-700;
      }
    }
    .nav-header &{
      color: lighten($link-color, 25%);
      text-decoration: underline;
    }
}

.nav-header a{
  color:lighten($link-color, 35%);
  font-weight:500;
  text-decoration: none;
  text-transform: uppercase;
}

.skip-navigation {
  @include sr-only;
  @include sr-only-focusable;
}

.skip-navigation:active, .skip-navigation:focus {
  position:absolute;
  top: 5rem;
  padding: .5rem;
  margin-left:2.5rem;
  background-color: $dark;
  color:$navbar-dark-color;
}

.notransition {
  @include transition($transition-none);
}

// md is where top navbar collapses
@include media-breakpoint-up(lg) {

  //top navigation absolute positioning
  .navbar-nav-collapse{
    position: absolute;
    width:100%;
    top:2.2rem;
    left:0;
    z-index: 1;
  }
  //need the dropdown content 14rem to avoid gaps
  .collapse {
    &.show {
      & .bg-dark{        
        height:12.6rem;
        padding-top: 0.2rem;
      }
    }
  }
  //need the dropdown content 14rem during transition to avoid jumps
  .collapsing {
    // @include transition($transition-none); //remove transition entirely
    & .bg-dark{      
      height: 12.6rem;
      padding-top: 0.2rem;     
    }
  }


} //end media-breakpoint-up

@include media-breakpoint-only(lg){
  //in the unlikely scenario where search and nav list crunch
  //(a very particluar screen size). 
  //need down-carets centered
  .bg-dark{
    a.nav-link.dropdown-toggle{
      text-align:center;
      line-height: 1rem;
    }
  }
}

@include media-breakpoint-down(md){
  .navbar-nav-collapse{
    & .bg-dark{
      background-color: lighten($dark,3%) !important;
    }
  }

  .navbar-collapse {
    & .collapsing{      
      @include transition($transition-none);     
    }
  }

} //end media-breakpoint-down